.cardVote2 {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  height: 8rem;
  width: 5rem;
  border: 2px dotted #000000;
  background-color: gray;
}

.cardVote2:nth-child(1) {
  transform: translateX(250px) translateY(-2.5rem);
}

.cardVote2:nth-child(2) {
  transform: rotate(-180deg) translateX(280px) translateY(2.5rem)
    rotate(-180deg);
}
